@import './fonts.css';
@import 'tailwindcss';

@theme {
  --font-jetBrains: 'JetBrains Mono', 'sans-serif';

  --animate-fadeIn: fadeIn 0.5s ease-in-out;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
@layer base {
  html {
    scroll-behavior: smooth;
    overflow-y: scroll;
    @apply font-jetBrains bg-amber-500;
  }
  img {
    height: 100%;
  }

  button {
    @apply cursor-pointer;
  }
}
